<form method="POST" action="/books/update">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="hidden" name="_method" value="PUT">
  <input type="hidden" name="id" value="<%= @book.id %>">
  <label for="fname">Title:</label><br>
  <input type="text" id="fname" name="title" value="<%= @book.title %>"><br>
  <label for="fname">Description:</label><br>
  <input type="text" id="fname" name="description" value="<%= @book.description %>"><br>
  <label for="fname">Level:</label><br>
  <input type="text" id="fname" name="level" value="<%= @book.level %>"><br>
  <button type="submit">Update</button>
</form>
