<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Level</th>
  </tr>
  <% @books.each do |book| %>
    <tr>
    <td><a href="/books/<%=book.id%>"><%= book.id %></a></td>
      <td><%= book.title %></td>
      <td><%= book.description %></td>
      <td><%= book.level %></td>
    </tr>
  <%end%>
</table>
