<form method="POST", action="/books/<%= @book.id %>">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="hidden" name="_method" value="delete">
  <%= @book.title %>
  <%= @book.description %>
  <%= @book.level %>
  <button type="submit">Delete</button>
</form>
