<div class="container">
  <form method="POST", action="<%= destroy_lessons_path(@lesson.id) %>">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <input type="hidden" name="_method" value="delete">

    <div class="card card-info">
      <div class="card-header">
        <h3 class="card-title">Lesson Detail</h3>
      </div>

      <div class="card-body">
        <div class="form-group row align-items-center">
          <label class="col-sm-2 col-form-label">Title:</label>
          <div class="col-sm-10">
            <p class="mb-0"><%= @lesson.title %></p>
          </div>
        </div>

        

        <div class="form-group row align-items-center">
          <label class="col-sm-2 col-form-label">Book:</label>
          <div class="col-sm-10">
            <p class="mb-0"><%= @lesson.book.title %></p>
          </div>
        </div>
      </div>

      <div class="card-footer">
        <button class="btn btn-danger" type="submit">Delete</button>
        <button class="btn btn-default" type="submit">
          <a href="<%=lessons_path%>">Back</a>
        </button>

        <a href="<%=edit_lessons_path(@lesson.id)%>">Edit</a>
      </div>
    </div>
  </form>
</div>
